<div class="wrapper-login background">
    <div class="login-form-wrapper login-form-wrapper_long">
        <form action="post">
            <h2 class="small-margin">Регистрация</h2>
            {{{email}}}
            {{{login}}}
            {{{name}}}
            {{{secondName}}}
            {{{phone}}}
            {{{password}}}
            {{{password_repeat}}}
            <div id="registrationBtn" class="submit-btn-wrapper">
                {{{mainButton}}}
            </div>
            {{{link}}}
        </form>
    </div>
</div>