<div class="settings-wrapper background">
    <div class="settings">
        <div class="yours-picture">
            <div class="avatar">
            </div>
            <h2 class="name">Иван</h2>
        </div>
        <div class="settings-data">
            {{{email}}}
            {{{login}}}
            {{{name}}}
            {{{secondName}}}
            {{{displayName}}}
            {{{phone}}}
        </div>
        <div class="settings-password">
            {{{oldPassword}}}
            {{{newPassword}}}
        </div>
        <div class="settings-link">
            {{{linkChangeData}}}
            {{{linkChangePassword}}}
            {{{linkExit}}}
        </div>
        <div class="accept-settings" id="saveSettingsBtn" >
            <buttom class="submitBtn" onclick="saveSettings()"><span>Сохранить</span></buttom>
        </div>
    </div>
</div>