<div class="settings-wrapper background">
    <div class="settings">
        <div class="yours-picture">
            <div class="avatar">
                <img src="{{avatar}}" width="100%" height="100%">
            </div>
            <h2 class="name">{{display_name}}</h2>
        </div>
        {{#if hideDataChange}}{{{changeUserDataForm}}}{{/if}}
        {{#if hidePasswordChange}}
        {{{changePasswordForm}}}
        {{/if}}

        <div class="settings-link" {{#if hideLink}}style="display:none;" {{/if}}>
            {{{linkChangeData}}}
            {{{linkChangePassword}}}
            {{{linkExit}}}
        </div>
    </div>
</div>
