<div class="chats-wrapper background">
    <div class="chats-list">
        <div class="users-block">
            <div class="profile-link">
                {{{link}}}
            </div>
            <div class="search-place">
                <input type="text" placeholder="Поиск"></input>
            </div>
        </div>
        {{{dialogList}}}
    </div>
    <div class="full-chat">
        <div class="companion-info">
            {{{dialogHeader}}}
            {{{settings}}}
        </div>
        {{{messages}}}
        {{{typingPlace}}}
    </div>
</div>
