<form action="post" class="settings-data">
    {{{email}}}
    {{{login}}}
    {{{name}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
    <div class="accept-settings" id="savePasswordBtn" {{#if disabled}}style="display:none;" {{/if}}>
        <input type="submit" class="submitBtn" id="submitBtn" value="Сохранить">
    </div>
</form>