<form action="post" class="settings-data">
    {{#if disabled}}
        {{else}}
        {{{inputAvatar}}}
    {{/if}}
    {{{login}}}
    {{{name}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
    <div class="accept-settings" id="savePasswordBtn" {{#if disabled}}style="display:none;" {{/if}}>
        <input type="submit" class="submit-btn" id="submit-btn" value="Сохранить">
    </div>
</form>
