<form action="post">
    {{{email}}}
    {{{login}}}
    {{{name}}}
    {{{secondName}}}
    {{{phone}}}
    {{{password}}}
    {{{password_repeat}}}
    <div class="submit-btn-wrapper">
        <input type="submit" class="submitBtn" id="submitBtn" value="Зарегистрироваться">
    </div>
</form>